runtime: python37
entrypoint: gunicorn -b :$PORT wsgi

instance_class: {{ gae_instance_class }}

handlers:
 - url: '/.*'
   script: auto

env_variables:
  DJANGO_CONFIGURATION: 'Production'
  DJANGO_SETTINGS_MODULE: 'settings.production'
  DJANGO_DATABASE_NAME_DEFAULT: '{{ django_database_name_default }}'
  DJANGO_DATABASE_USER_DEFAULT: '{{ django_database_user_default }}'
  DJANGO_DATABASE_PASSWORD_DEFAULT: '{{ django_database_password_default }}'
  DJANGO_DATABASE_HOST_DEFAULT: '{{ django_database_host_default }}'
  DJANGO_SITE_DOMAIN: '{{ django_site_domain }}'
  DJANGO_SECRET_KEY: '{{ django_secret_key }}'
  DJANGO_SECURE_HSTS_SECONDS: {{ django_secure_hsts_seconds }}
  DJANGO_STATIC_HOST: '{{ django_static_host }}'
  DJANGO_SENDGRID_API_KEY: '{{ django_sendgrid_api_key }}'
  DJANGO_CACHE_URL_DEFAULT: '{{ django_cache_url_default }}'
  DJANGO_CACHE_USERNAME_DEFAULT: '{{ django_cache_username_default }}'
  DJANGO_CACHE_PASSWORD_DEFAULT: '{{ django_cache_password_default }}'
  DJANGO_ALLOWED_HOSTS: '{{ django_allowed_hosts }}'
